<!doctype html5>
<html>
    <head>
        <title>Node Authentication</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
            body        { padding-top:80px; word-wrap:break-word; }
        </style>
    </head>
    <body>
         <div class="container">
            <div class="row">
               <div class="col-md-3 col-sm-3">
                    <div class="bs-docs-sidebar" role="complementary">
                        <ul class="nav">
                            <li>
                                <form action="/search "class="navbar-form" role="search" method="post">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="srchTerm" id="srchTerm" value=<%= srchTerm %>>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">     
                                                GO!
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </li>    
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                       <form action="/save" method="post">
                            <div class="form-group">
                                <label for="Category">Category</label>
                                <input type="text" class="form-control" name="Category" id="Category" placeholder="Chose a category" onkeydown = "return (event.keyCode!=13);" value=<%= category %>>
                            </div>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" class="form-control" name="Title" id="Title" placeholder="Title of Post" onkeydown = "return (event.keyCode!=13);" value=<%= title %>>
                            </div>
                            <div class="form-group">
                                <label for="Type">Type</label>
                                <select class="form-control" name="Type" id="Type" placeholder="Type of Post" onkeydown = "return (event.keyCode!=13);">
                                    <option value="Text" <% if (type == 'Text') { %>selected<% } %> >Text</option>
                                    <option value="Javascript" <% if (type == 'Javascript') { %>selected<% } %> >Javascript</option>
                                    <option value="C#" <% if (type == 'C#') { %>selected<% } %> >C#</option>
                                    <option value="C" <% if (type == 'C') { %>selected<% } %> >C</option>
                                    <option value="C++" <% if (type == 'C++') { %>selected<% } %> >C++</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Post">Post</label>
                                <textarea class="form-control" rows="10" name="Post" id="Post" placeholder="Your post here"><%= post %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="Tags">Tags</label>
                                <input type="text" class="form-control" name="Tags"id="Tags" placeholder="Comma seperated Tags describing the Post" onkeydown = "return (event.keyCode!=13);"value=<%= tags %>>
                            </div>
                            <button type="submit" class="btn btn-primary">Save/Update</button>
                        </form> 
                    </div>
                </div>
            </div>
         </div> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>