<!doctype html5>
<html>
    <head>
        <title>Node Authentication</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
            body    { padding-top:20px;}
        </style>
        <style type="text/css" media="screen">
            #editor { 
                position: relative;
                height: 400;
            }
        </style>
    </head>
    <body>
        <div class="container col-sm-8 col-md-8">
            <form class="form-horizontal" role="form" action="/save" method="post">
                <div class="form-group">
                    <label for="Category" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Category" id="Category" placeholder="Chose a category" onkeydown = "return (event.keyCode!=13);" value="<%= category %>" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="Title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Title" id="Title" placeholder="Title of Post" onkeydown = "return (event.keyCode!=13);" value="<%= title %>" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Description" id="Description" placeholder="A Summary of the post" onkeydown = "return (event.keyCode!=13);" value="<%= description %>" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="Type" id="Type" placeholder="Type of Post" onkeydown = "return (event.keyCode!=13);">
                            <option value="Text" <% if (type == 'Text') { %>selected<% } %> >Text</option>
                            <option value="Javascript" <% if (type == 'Javascript') { %>selected<% } %> >Javascript</option>
                            <option value="C#" <% if (type == 'C#') { %>selected<% } %> >C#</option>
                            <option value="C" <% if (type == 'C') { %>selected<% } %> >C</option>
                            <option value="C++" <% if (type == 'C++') { %>selected<% } %> >C++</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Post" class="col-sm-2 control-label">Post</label>
                    <div class="col-sm-10">
                        <div id="editor"><%= post %></div>
                        <textarea name="Post" style="display: none;"></textarea>
                        <select  name="Theme" id="theme" onkeydown = "return (event.keyCode!=13);" onchange="setTheme(this)">
                            <% if (typeof theme !== 'undefined') { %>
                                <% for(var i=0; i<theme.length; i++) { %>
                                    <% if( theme[i].indexOf('theme-') >= 0){ %>
                                        <option value="<%= theme[i].replace("theme-","").replace(".js","") %>" ><%= theme[i].replace("theme-","").replace(".js","") %></option>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </select>
                        <select  name="Mode" id="mode" onkeydown = "return (event.keyCode!=13);" onchange="setMode(this)">
                            <% if (typeof theme !== 'undefined') { %>
                                <% for(var i=0; i<theme.length; i++) { %>
                                    <% if( theme[i].indexOf('mode-') >= 0){ %>
                                        <option value="<%= theme[i].replace("mode-","").replace(".js","") %>" ><%= theme[i].replace("mode-","").replace(".js","") %></option>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Tags" class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Tags"id="Tags" placeholder="Comma seperated Tags describing the Post" onkeydown = "return (event.keyCode!=13);"value="<%= tags %>" >
                    </div>        
                </div>
                <label for="Tags" class="col-sm-2 control-label"></label>
                <button id="submit" type="submit" class="btn btn-primary">Save/Update</button>
            </form> 
        </div> 
        <div class="container col-sm-3 col-md-3" style="background-color: #e0e0e0;">
            <form action="/search "class="navbar-form" role="search" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srchTerm" id="srchTerm" value="<%= srchTerm %>" >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">     
                            GO!
                        </button>
                    </span>
                </div>
            </form>
            <div class="list-group" id="searchList">
                <% if (typeof result !== 'undefined') { %>
                    <% for(var i=0; i<result.length; i++) { %>
                        <form action="/select" method="post" id="<%= result[i].obj._id %>" > 
                            <% if (selID == i) { %>
                                <a href="#" onclick="document.getElementById('<%= result[i].obj._id %>').submit()" class="list-group-item active"> 
                            <% }else{ %>
                                <a href="#" onclick="document.getElementById('<%= result[i].obj._id %>').submit()" class="list-group-item "> 
                            <% } %>
                                    <input type="hidden" name="select" id="select" value="<%= result[i].obj._id %>" >
                                    <input type="hidden" name="srchTerm" id="srchTerm" value="<%= srchTerm %>" >
                                    <input type="hidden" name="selID" id="selID" value="<%= i %>" >
                                    <h5><%= result[i].obj.title %></h5>
                                    <p class="list-group-item-text"><%= result[i].obj.description %></p>
                                </a>
                        </form>
                    <% } %>
                <% } %>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/ace/src-min/ext-language_tools.js"></script>
        <script>
            var textarea = $('textarea[name="Post"]');
            textarea.hide();

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/ambiance");
            editor.getSession().setMode("ace/mode/javascript");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });

            var doc = editor.getSession().getDocument()

            $('#submit').on('click', function() {
                textarea.val(editor.getSession().getValue());
            });

            function setTheme(selector) {
                editor.setTheme("ace/theme/"+selector.value);
            }
            function setMode(selector) {
                 editor.getSession().setMode("ace/mode/"+selector.value);
            }
        </script>
    </body>
</html>