<!doctype html>
<html>
<head>
	<title>hullabaloo</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-10 col-sm-offset-1">
			<div class="well" name="adminDiv">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.email %><br>
						<strong>password</strong>: <%= user.password %>
					</p>
					<a href="/unlink/local" class="btn btn-warning btn-lg col-sm-3 col-md-3">Remove Account</a>
					<a href="/post" class="btn btn-warning btn-lg col-sm-3 col-md-3">Post</a>
					<a href="/logout" class="btn btn-warning btn-lg col-sm-3 col-md-3">Logout</a>
					<a>
						<form action="/updateNewsletter" method="post">
							<% if( newsletter[newsletter.map(function(userItem) { return userItem.email }).indexOf(user.email)].newsletter) {%>
								<input type="checkbox" style="display:none;" name="Newsletter">
								<button  type="submit" id="Update" class="btn btn-warning btn-lg ">Unsubscribe</button>
			            	<% } else { %>
			            		<input type="checkbox" style="display:none;"  name="Newsletter" checked="checked">           		
			            		<button  type="submit" id="Update" class="btn btn-warning btn-lg">Subscribe</button>
			            	<% } %>
			            	<input type="hidden" name="User" value="<%= user.email %>" >

			            </form>
			        </a>
			</div>
		</div>
		<% if (user.admin) { %>
			<div class="col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-1">
				<div class="panel panel-default">
				  	<!-- Default panel contents -->
				  	<h3><div class="panel-heading">User Table</div></h3>
				  	<div class="table-responsive">
					  	<!-- Table -->
					  	<table class="table">
					   		<thead>
					          	<tr>
						            <th>User email</th>
						            <th>Is Admin</th>
						            <th>Is Locked</th>
						            <th>Newsletter</th>
						            <th></th>
					          	</tr>
					        </thead>
					        <tbody>
					        	<% for(var i=0; i<allUser.length; i++) { %>
						          	<tr>
						          		<form action="/updateUser" method="post">
								            <td>
								            	<%= allUser[i].email %>
								            	<input type="hidden" name="User" value="<%= allUser[i].email %>" >
								            </td>
								            <td>
								            	<% if  (allUser[i].admin){ %>
								            		<input type="checkbox" name="Admin" checked="checked">
								            	<% } else { %>
								            		<input type="checkbox" name="Admin">
								            	<% } %>
								            </td>
								            <td>
								            	<% if  (allUser[i].locked){ %>
								            		<input type="checkbox" name="Locked" checked="checked">
								            	<% } else { %>
								            		<input type="checkbox" name="Locked">
								            	<% } %>
								            </td>
								            <td>
								            	<% if  ( newsletter[newsletter.map(function(userItem) { return userItem['email'] }).indexOf(allUser[i].email)].newsletter){ %>
								            		<input type="checkbox" name="Newsletter" checked="checked">
								            	<% } else { %>
								            		<input type="checkbox" name="Newsletter">
								            	<% } %>
								            </td>
								            <td>
								            	<button  type="submit" id="Update" class="btn btn-warning btn-lg">Update</button>
								            </td>
								        </form>
							        </tr>							        
					          	<% } %>
					        </tbody>
					  	</table>
				  	</div>
				</div>			
			</div>
		<% } %>
</div>
</body>
</html>